

/*    Name: Ronald Kiefer      */
/*    Date: June 03, 2021      */
/*    Title: Practice Five     */


body{
    background-color: darkseagreen;
}

#wrapper{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 800px; max-width: 2000px;
}

.nav-bar{
    background-color: lime;

}

.nav-list{
    margin-left: 20%;
    margin-right: 20%;
    width: 100%;
    display: flex;

}

.nav-list li{
    list-style: none;
    padding: 26px 10px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

header{
    background-color: violet;
    padding: 70px 20px;
}

.bodyTwo{
    background-color: tomato;
    padding: 50px 20px;
}

article{
    background-color: teal;
    padding: 50px 20px;
}

footer{
    padding: 30px 20px;
}



